 .u-section-1 {
  min-height: 1094px;
  background-image: none;
}

.u-section-1 .u-shape-1 {
  height: 372px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -299px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 371px;
  background-image: url("images/ge49dbb922d7c93788453ce05c1e9271636287b9cea8a3c118255635d522ec7f2c48ac3163cb2beb31c7d513582fb9c3452653d2c6e16befba5edb8c0537234fc_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 103px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 99px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 375px;
  background-image: url("images/gff3000fb15c03d3d74e6748b46b6d954cc6690cc7c4accc833a9f369d88e0bf7eeaf40b8e50940f375c52f220a5afde067d0e0886c6335ca0b8c0c252754096f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-image-3 {
  min-height: 368px;
  background-image: url("images/gf0976aef9723591f7c8b315212931fc1e5ee38d93ea9eb921cdec60eadb49bb907e58eb4967cb836e9624736bdce43f3221d0f101a273596f0e0840f7430f90e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 106px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 106px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  min-height: 368px;
  background-image: url("images/g5c9a773c7cba945e6ae35fd9e4b928ff851deac2a131ce5320bc3b8c2c70eaaf2f6c82888c54aa694b7ca449ed4e831a4c4962408e4359ed92811de18d8e37f9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 66px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 354px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 24px 20px;
}

.u-section-1 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 2px 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 24px 20px;
}

.u-section-1 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 2px 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 24px 20px;
}

.u-section-1 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 2px 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 24px 20px;
}

.u-section-1 .u-icon-4 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 2px 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 22px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 963px;
  }

  .u-section-1 .u-shape-1 {
    height: 314px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -241px;
  }

  .u-section-1 .u-image-1 {
    min-height: 306px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 85px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 82px;
  }

  .u-section-1 .u-image-2 {
    min-height: 309px;
  }

  .u-section-1 .u-image-3 {
    min-height: 303px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 87px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 87px;
  }

  .u-section-1 .u-image-4 {
    min-height: 303px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 50px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 352px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1376px;
  }

  .u-section-1 .u-shape-1 {
    height: 795px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -723px;
  }

  .u-section-1 .u-image-1 {
    min-height: 469px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-1 .u-image-2 {
    min-height: 473px;
  }

  .u-section-1 .u-image-3 {
    min-height: 464px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 133px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 133px;
  }

  .u-section-1 .u-image-4 {
    min-height: 464px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 740px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 841px;
  }

  .u-section-1 .u-shape-1 {
    height: 1122px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1050px;
  }

  .u-section-1 .u-image-1 {
    min-height: 704px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 710px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 696px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 200px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 200px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 696px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 51px;
    margin-bottom: 51px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1450px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 443px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-1 .u-image-2 {
    min-height: 447px;
  }

  .u-section-1 .u-image-3 {
    min-height: 438px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 126px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 126px;
  }

  .u-section-1 .u-image-4 {
    min-height: 438px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}